*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
body{
    background-color: black;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid red;
}

.marca{
    display: flex;
    justify-content: row;
    align-items: center;
}

.titulo{
    color: white;
}

.navegacao ol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navegacao li{
    padding-right: 30px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.navegacao a:hover{
    color: gray;
    
}

.logo{
    height: 50px;
    width: 90px;
    margin-right: 10px;
}

h1{
    text-transform: uppercase;
    color: red;
}   

.todos_filmes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
    margin: 0 50px;
}


.img_filmes{
    width: 400px;
    height: 225px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px red;
    transition: 0.5s;
    cursor: pointer;
}

.img_filmes:hover{
    padding: 10px;
}

.todos_filmes h3{
    margin-left: 25px;
}




