*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

body{
    background-color: black;
}

.topo{
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    display: flex;
    padding: 20px;
    border-bottom: 2px solid rgb(255, 0, 0);
}

.topo h1 {
    color: white;
}

.sup{
    margin: 0;
}

.topo ol{
    color: white;
    display: flex;
    padding: 10px;
}

.topo li{
    list-style-type: none;
    padding-right: 30px;
}

.topo a{
    text-decoration: none;
    color: white;
}

.carro{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    padding: 40px;
}

.img_series{
    width: 400px;
    padding: 20px;
    box-shadow: 3px 3px 4px red;
    border-radius: 20px;
    transition: 0.5s;
}

.img_series:hover{
    padding:15px;
}

.box h3{
    margin-left: 25px;
}
