*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid red;
}

.marca{
    display: flex;
    align-items: center;
}

.titulo{
    color: white;
}

.navegacao ol{
    display: flex;
    justify-content: space-between;
}

.navegacao li{
    padding-right: 30px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.navegacao a:hover{
    color: gray;
    
}

.logo{
    height: 50px;
    width: 90px;
    margin-right: 10px;
}

h1{
    text-transform: uppercase;
    color: red;
}   


.divisao, .divisao2{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.img_trailer{
    width: 400px;
    height: 360px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px red;
}

.elenco{
    padding: 20px;
}

.elenco li{
    list-style-type: none;
    margin-top: 20px;

}

.sinopse{
    display: flex;
    padding: 20px;
    text-align: center;
}


.trailer{
    padding: 10px;
    margin:0 20px 20px ;
    box-shadow: 3px 3px 5px red;
}

.paragrafo{
    margin-top: 60px;
}

.sinopse div{
    text-align: center;
    margin: 50px 0;
}

.divisao2{
    justify-content: space-around;
}