*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
body{
    background-color: black;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid red;
}

.marca{
    display: flex;
    justify-content: row;
    align-items: center;
}

.navegacao ol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
    padding: 3px;
}

.navegacao li{
    padding-right: 30px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #ffffff;
}

a:hover{
    color: gray;
    
}

.logo{
    height: 50px;
    width: 90px;
    margin-right: 10px;
}

h1{
    text-transform: uppercase;
    color: red;
}

h2, h3, p{
    color: #ffffff;
}

.destaques{
    margin: 20px 0;
    text-align: center;
}

.titulo_destaque{
    margin: 30px 0;
}

.destaque{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 10px 50px 0;
}

.destaque h3{
    margin-top: 10px;
}

.img_filmes_e_series{
    width: 400px;
    height: 225px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px red;
}

.trailer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

footer{
    border-top: 2px solid red;
    background-color: black;
    text-align: center;
    padding: 10px 0;
}

.dados{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}


